.exped-header {
  padding-top: 60px;
}

.experiment-editor h3 {
  color: rgb(245, 139, 18);
  font-size: 1.3em;
  padding: 10px 0;
}

.experiment-editor h4,
label {
  color: rgb(151, 221, 191);
}

.experiment-editor h4 {
  font-size: 1em;
}

.experiment-editor ul,
p {
  color: rgb(209, 223, 220);
  font-size: 0.8em;
}

.experiment-editor textarea,
.experiment-editor input {
  background-color: rgb(37, 37, 36);
  border: none;
  color: rgb(209, 223, 220);
  padding: 5px;
  resize: none;
  font-size: 0.8em;
}

.experiment-editortextarea :focus {
  color: rgb(0, 0, 0);
}

.experiment-editor nav h4 {
  color: rgb(123, 129, 127);
}




@media only screen and (min-width: 768px) {
  .experiment-editor textarea,
  .experiment-editor input {
    font-size: 1em;
  }
  .experiment-editor h3 {
    font-size: 1.6em;
  }

  .experiment-editor h4 {
    font-size: 1.4em;
  }
  .experiment-editor ul,
  .experiment-editor p {
    font-size: 0.9em;
  }
}
