.main-container {
  background-color: rgb(22, 24, 24);
  min-height: 100vh;
}

.dashboard-header {
  background-color: blue;
  color: white;
}

.dashboard-projects-table {
  background-color: red;
}

.dashboard-user-box {
  background-color: grey;
}

.dashboard-link-box {
  background-color: chartreuse;
}
