

.dashboard-header-box {
  /* background-color: blue; */
  color: white;
  padding: 10px;
}

.dashboard-header-box h1 {
  font-size: 2em;
  color: rgb(89, 224, 168);
}

.dashboard-header-box h3 {
  font-size: 1.3em;
  color: rgb(126, 153, 142);
}

.dashboard-header-box p {
  font-size: 0.8em;
}

.dashboard-projects-table {
  /* background-color: red; */
  color: white;
  padding: 10px;
  background-color: rgb(50, 61, 61);
  border-radius: 5px;
}

.dashboard-projects-table thead {
  color: rgb(253, 253, 253);
}

.dashboard-projects-table td {
  color: rgb(211, 210, 210);
}

.dashboard-projects-table h4 {
  font-size: 1.2em;
  color: rgb(245, 82, 18);
}

.dashboard-user-box {
  /* background-color: grey; */
  /* padding: 10px; */
}

.dashboard-link-box {
  background-color: rgb(50, 61, 61);
  padding: 10px;
  border-radius: 5px;
}

.dashboard-link-box h4 {
  color: rgb(245, 82, 18);
}

.dashboard-link-box a {
  color: white;
}

.start-box {
  /* margin: 10px; */
  color: white;
}

@media only screen and (min-width: 768px) {
  .dashboard-header-box {
    padding: 10px;
  }

  .dashboard-header-box h1 {
    font-size: 3em;
  }

  .dashboard-header-box h3 {
    font-size: 2em;
  }

  .dashboard-header-box p {
    font-size: 1em;
  }

  .dashboard-projects-table {
    padding: 10px;
  }

  .dashboard-projects-table h4 {
    font-size: 1.6em;
  }

  .dashboard-user-box {
    padding: 10px;
  }

  .dashboard-link-box {
    padding: 10px;
  }

  .start-box {
    /* margin: 10px; */
  }
}
