.dashboard-projects-table {
  overflow-x: auto;
}

.dashboard-projects-table h4 {
  font-size: 1.2em;
}

.dashboard-projects-table table {
  font-size: 0.7em;
  min-width: 100%;
  background-color: rgb(39, 36, 34);
}

