@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital@0;1&display=swap");

/* GENERAL ELEMENTS */

body {
  margin: 0;
  font-family: "Noto Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --orange: rgb(245, 88, 40);
  --brightOrange: rgb(252, 124, 39);
  --teal: rgb(84, 209, 182);
  --brightTeal: rgb(32, 245, 234);
  --almostWhite: rgb(250, 250, 250);
  --lightGray: rgb(210, 210, 210);
  --darkGray: rgb(20, 22, 22);
  --midGrey: rgb(50, 61, 61);
}

a {
  font-size: 0.8em;
}

header {
  margin: 40px 0;
}

h1 {
  color: var(--teal);
}

h2 {
  color: rgb(144, 163, 163);
}
h3 {
  color: var(--orange);
}

h4 {
  color: var(--teal);
}

h5 {
  color: var(--teal);
}

p {
  font-size: 1em;
}

label {
  font-size: 0.9em;
  color: white;
}
thead {
  color: var(--almostWhite);
  font-size: 0.8em;
}

td {
  color: var(--lightGray);
  font-size: 0.7em;
}

ul {
  font-size: 0.8em;
}

.main-container {
  background-color: rgb(20, 22, 22);
  min-height: 100vh;
}

/* Dashboard*/

.darkGrayBox {
  color: white;
  background-color: var(--midGrey);
}

.dashboard-link-box {
  background-color: rgb(50, 61, 61);
  padding: 10px;
  border-radius: 5px;
}

.dashboard-link-box a {
  color: white;
}

.start-box {
  color: white;
}

/* Login and register*/

.login-box {
  background-color: rgb(50, 61, 61);
  padding: 10px;
  width: 100%;
  border-radius: 5px;
}

.login-submit {
  background-color: var(--orange);
  color: white;
}

/* Buttons */

.big-btn {
  margin: 10px 0;
  border: none;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.5);
}

.orange-btn {
  background-color: var(--orange);
  color: white;
}
.orange-btn:active {
  background-color: var(--brightOrange);
  color: white;
}

.teal-btn {
  background-color: var(--teal);
  color: black;
}
.teal-btn:active {
  background-color: var(--brightTeal);
  color: var(--darkGray);
}

/* Cards */

.reagent-card-header {
  color: var(--teal);
}
.reagent-card-body {
  color: var(--lightGray);
}

.register-box {
  background-color: rgb(50, 61, 61);
  padding: 10px;
  width: 100%;
  border-radius: 5px;
}
